<mat-toolbar>
	<span>
		<a routerLink="/" routerLinkActive="router-link-active">
			Messages App
		</a>
	</span>
	<ul>
		<li>
			<a
				mat-button
				routerLink="/create"
				routerLinkActive="mat-accent"
				*ngIf="authStatus"
			>
				Create Post
			</a>
		</li>
		<li>
			<button mat-button *ngIf="authStatus" (click)="onLogout()">
				Log Out
			</button>
		</li>
		<li>
			<a
				mat-button
				routerLink="/login"
				routerLinkActive="mat-accent"
				*ngIf="!authStatus"
			>
				Login
			</a>
		</li>
		<li>
			<a
				mat-button
				routerLink="/signup"
				routerLinkActive="mat-accent"
				*ngIf="!authStatus"
			>
				Sign Up
			</a>
		</li>
	</ul>
</mat-toolbar>
