<mat-card>
	<mat-spinner *ngIf="loading" style="margin:auto"></mat-spinner>
	<form
		*ngIf="!loading"
		(ngSubmit)="onSignup(signupForm)"
		#signupForm="ngForm"
	>
		<mat-form-field>
			<input
				matInput
				type="email"
				name="email"
				placeholder="Email Address"
				ngModel
				#email="ngModel"
				required
				email
			/>
			<mat-error *ngIf="email.invalid && email.touched">
				Please enter a valid email!
			</mat-error>
		</mat-form-field>
		<mat-form-field>
			<input
				matInput
				type="password"
				name="password"
				placeholder="Password"
				ngModel
				#password="ngModel"
				required
				minlength="6"
			/>
			<mat-error *ngIf="password.invalid && password.touched">
				Please enter a valid password!
			</mat-error>
		</mat-form-field>
		<button
			mat-raised-button
			color="primary"
			type="submit"
			[disabled]="signupForm.invalid"
		>
			Sign Up
		</button>
	</form>
</mat-card>
