<mat-card>
	<mat-spinner *ngIf="loading" style="margin:auto"></mat-spinner>
	<form *ngIf="!loading" (ngSubmit)="onSavePost(postForm)" #postForm="ngForm">
		<mat-form-field>
			<input
				matInput
				type="text"
				[ngModel]="post?.title"
				name="title"
				required
				placeholder="Post Title"
				#title="ngModel"
			/>
			<mat-error *ngIf="title.invalid">Please enter a title!</mat-error>
		</mat-form-field>
		<mat-form-field>
			<textarea
				matInput
				rows="6"
				[ngModel]="post?.content"
				name="content"
				required
				placeholder="Post Content"
				#content="ngModel"
			></textarea>
			<mat-error *ngIf="content.invalid">Please enter a title!</mat-error>
		</mat-form-field>

		<button
			mat-raised-button
			color="primary"
			type="submit"
			[disabled]="postForm.invalid"
		>
			Save Post
		</button>
	</form>
</mat-card>
