<mat-accordion multi="true" *ngIf="posts.length > 0">
	<mat-expansion-panel *ngFor="let post of posts; let i = index">
		<mat-expansion-panel-header>
			{{ post.title }}
		</mat-expansion-panel-header>
		<p>{{ post.content }}</p>
		<mat-action-row>
			<button mat-button color="accent" (click)="onEdit(i)">Edit</button>
			<button mat-button color="warn" (click)="onDelete(i)">
				Delete
			</button>
		</mat-action-row>
	</mat-expansion-panel>
</mat-accordion>
<p *ngIf="posts.length <= 0" class="mat-body-1 info-text">
	No posts added yet!
</p>
